<!DOCTYPE html>
<html lang="en">

{{>head}}

<style>

</style>

<body>

    <div class="container mt-5">
        <div class="jumbotron bg-danger text-white">
            <h1>Error is Request...!!!</h1>
            <p>This Happen more likely limits to free account's try again after 24hour or contact me or try again<a
                    href="/" class="btn btn-link text-white"><strong>click here</strong> </a>
            </p>
        </div>
    </div>

    {{>script}}

</body>

</html>